body{
    padding: 0px;
    margin: 0px;
.main{
    width: 100%;
    margin-top: 10%;
    text-align: center;
    margin-bottom: 10%;
}
.gen{
    color:#1F3B58;
}
.whatdo{
    font-weight: bold;
    color:#1F3B58;
}
.btn{
    background-color: #1F3B58;
    color: white;
}
.content{
    margin-top: 20%;
}
.footer{
    background-color: #1F3B58;
    height: 100px;
    color: white;
    text-align: center;
    margin-top: 5%;
}
.about{
    margin-top: 3%;
}
